
.newsstyle { 
    padding-left: 100px; 
    padding-right: 100px;
    padding-top: 10px;

    color: rgb(150, 39, 39)

}
.stylez {
    padding-right: 100px;

}

img {
    float:left;
    margin-right:20px;
    padding-left: 100px;
}
h2 {
    line-height: 10px;
}
.flow {
    padding-left: 100px;
}
.flow2 {
    padding-right: 100px;
}
.flow3{
    padding-left: 50px;
}

